# Set default behavior to automatically normalize line endings.
* text=auto eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# Exclude composer.lock from git archive exports
composer.lock export-ignore
