/vendor/
/.phpunit.cache/
/.pest/
/coverage/

# RoadRunner binaries & configurations
/bin/rr
/bin/rr.exe
.rr.yaml
worker.php

# Storage & Logs
/storage/logs/*.log
!/storage/logs/.gitkeep

# Environment files
.env
.env.local
.env.*.local

# IDEs & Editor files
/.idea/
/.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
